* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Navigation Bar Start */
#navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#navbar .logo-name {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

#navbar .logo-name svg {
    width: 2rem;
}

#navbar .logo-name h2 {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

#navbar .menu ul {
    display: flex;
}

#navbar .menu ul li {
    list-style: none;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
}

#navbar .menu ul li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 120%;
}

#navbar .menu ul li a:hover {
    color: black;
}

/* Navigation Bar End */



/* First Section */
#firstsection {
    display: flex;
    justify-content: space-evenly;
}

#firstsection .right img {
    width: 35rem;
    height: 30rem;
    margin-top: -5rem;
    padding-right: 10rem;
}

#firstsection .left {
    padding-left: 5rem;
    justify-content: center;
}

#firstsection .left h1 {
    font-size: 300%;
    margin-left: 5rem;
}

#firstsection .left p {
    color: #7D7987;
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 160%;
    width: 72%;
    font-weight: 300;
}

.btn {
    margin-left: 5.3rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    color: white;
    background-color: #458FF6;
    border-radius: 55px;
    border: #458FF6;
}

.btn:hover {
    cursor: pointer;
    background-color: blue;
}

/* First Section End */


/* Second Section */
#secondsection {
    height: 150vh;
}

#secondsection h1 {
    text-align: center;
    margin-top: 10rem;
}

#secondsection hr {
    width: 5%;
    margin: auto;
    margin-top: 1rem;
    height: 2px;
    background-color: black;
}

#secondsection .service-desc {
    margin: auto;
    width: 60vw;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#secondsection .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -40rem;
}

#secondsection .cards div {
    width: 18rem;
    height: 18rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

#secondsection .cards svg {
    width: 4rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

#secondsection .cards h3 {
    margin-left: 1rem;
    margin-top: 2rem;
}

#secondsection .cards .card-desc {
    color: grey;
    margin-left: 1rem;
    margin-top: 1rem;
}

#secondsection .btn-2 {
    display: block;
    border: 2px solid #6F9CDA;
    margin: auto;
    color: #6F9CDA;
    background-color: white;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin-top: 4rem;
}

#secondsection .btn-2:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Second Section End */



/* Third Section End */
#thirdsection {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

#thirdsection div {
    margin-top: 2rem;
    width: 40%;
}

#thirdsection .thirdRight h1 {
    font-size: 3rem;
}

#thirdsection .thirdRight p {
    color: #7D7987;
    margin-top: 3rem;
    font-size: 160%;
    font-weight: 300;
}

#thirdsection .thirdRight hr {
    margin-top: 3rem;
    width: 15%;
    height: 2px;
    background-color: black;
}

#thirdsection .btn-3 {
    display: block;
    border: 2px solid #6F9CDA;
    color: #6F9CDA;
    background-color: white;
    padding: 1.3rem 5rem;
    border-radius: 2rem;
}

#thirdsection .btn-3:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Third Section End */



/* Fourth Section End */
#fourthsection {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

#fourthsection div {
    margin-top: 2rem;
    width: 40%;
}

#fourthsection .fourthLeft {
    width: 30%;
}

#fourthsection .fourthLeft h1 {
    font-size: 3rem;
}

#fourthsection .fourthLeft p {
    color: #7D7987;
    margin-top: 3rem;
    font-size: 160%;
    font-weight: 300;
}

#fourthsection .fourthLeft hr {
    margin-top: 3rem;
    width: 15%;
    height: 2px;
    background-color: black;
}

#fourthsection .btn-4 {
    display: block;
    border: 2px solid #6F9CDA;
    color: #6F9CDA;
    background-color: white;
    padding: 1.3rem 5rem;
    border-radius: 2rem;
}

#fourthsection .btn-4:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Fourth Section End */


/* Footer */
#footer {
    height: 60vh;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}

#footer ul li {
    list-style: none;
}

#footer .leftFoot {
    display: flex;
    align-items: center;
    width: 30%;
}

#footer .leftFoot h3 {
    display: inline-block;
    font-size: 110%;
    padding-left: 10px;
}

#footer .leftPara {
    font-size: 110%;
    padding-left: 10px;
    position: relative;
    top: 4rem;
    right: 7.5rem;
    width: 120%;
}

#footer svg {
    padding-bottom: 2.8rem;
}

#footer .footerLogo {
    display: flex;
}

#footer ul li{
    margin-top: 1rem;
}
/* Footer End */